.all-video-single-row {
    display: flex;
}

.all-video-single-row:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.all-video-left-panel {
    min-width: 300px;
    min-height: 200px;
}

.all-video-left-panel > img{
    max-width: 300px;
    max-height: 200px;
    margin: 15px;
}

.all-video-right-panel {
    margin: 10px;
    min-width: 200px;
    min-height: 200px;
}
.all-video-right-panel a{
    text-decoration: none;
}
.all-video-right-panel img{
    width: 40px;
    height: 40px;
}
.title-block {
    font-size: x-large;
    margin-top: 1%;
    margin-left: 5%;
    width:100%;
}
.content-block {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.footer {
    position: static;
}

