.panel-center {
    text-align: center;
    margin: 0 auto;
}

.video-like-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.video-panel {
    margin: 1vh 10vw 1vw 10vw; 
}

.video-panel > video{
    min-width: 400px;
    min-height: 400px;
    max-width: 70vw;
    max-height: 70vh;  
}

.video-comment {
    margin: 0px 20vw 10px 20vw;
}