body {
    justify-content: center;
}
.panel-center {
    text-align: center;
    margin: 0 auto;
}

#video-like-btn:hover {
    cursor: pointer;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: translateY(-2px);
}

#comment-btn:hover {
    cursor: pointer;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: scale(1.05);
}

.video-panel {
    margin-top: 20px;
}

.video-panel > video{
    min-width: 400px;
    width: 50vw;
}
@media screen and (max-width: 1000px) {
    .video-panel > video{
        width: 80vw;
    }
}


.video-row {
    width: 50vw;
    display: inline-flex;
    min-height: 100px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgb(162, 162, 162);
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}
@media screen and (max-width: 1000px) {
    .video-row {
        width: 80vw;
    }
}

.video-item img{
    width: 50px;
    height: 50px;
}

.video-item label{
    position: absolute;
    margin: 10px;
    font-size: 20px;
}

.video-comment {
    width: 80vw;
    min-height: 100px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgb(162, 162, 162);
    justify-content: space-evenly;
    display: none;
}
.video-comment hr {
    width: 90%;
    border: 1px solid #f1f1f1;
}

.video-comment-input {
    border-radius: 4px;
    background: #f7f7f7;
    padding: 10px;
    box-shadow: inset 2px 2px 6px rgba(0,0,0,.08);
    height: 80px;
    width: 90%;
    margin:10px;
    display: inline-block;
}
.video-comment-input textarea {
    position: relative;
    overflow: hidden;
    padding: 8px 18px;
    border: none;
    background: none;
    outline: none;
    width: 90%;
    display: block;
    line-height: 22px;
    font-size: 14px;
    background-attachment: scroll;
    resize: none;
}
.video-comment-title {
    float: left;
    margin-top: 10px;
    margin-left: 2vw;
}

.video-comment-submit-button {
    float: right;
    margin-right: 2vw;
}
