{# app/templates/socket_service/socket_service.html_ #}

{% extends "layout.html" %}

{% block body %}
    <h1>Rooms:</h1>
    {%  for room in rooms %}
      <div class="clickable">
        <a href={{ "/socket_service/enter_room/" + room.uuid  }}>
          {{ room.id|string + ": " + room.name|string +"   , expire_at: " +room.expire_at|string }}
        </a>
      </div>
    {% endfor %}

    <form action="/socket_service/create_room" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.expire_at.label }}<br>
            {{ form.expire_at(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}