{# app/templates/auth/register.html_ #}

{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
<div class="container">
    <div class="user-login-middle-panel">
        <h1>{{_('Register')}}</h1>
        <hr>
        <p>{{_("Required infomation.")}}</p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="input-family">
                {{ form.username.label }}
                {{ form.username(size=32) }}
                <span>{{_('Please enter your user name here')}}</span>
            </div>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="input-family">
                {{ form.email.label }}
                {{ form.email(size=64) }}
                <span>{{_('Please enter your email address here')}}</span>
            </div>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="input-family">
                {{ form.password.label }}
                {{ form.password(size=32) }}
                <span>{{_('Please enter your password here')}}</span>
            </div>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="input-family">
                {{ form.password2.label }}
                {{ form.password2(size=32) }}
                <span>{{_('Please re-enter your password here')}}</span>
            </div>
            {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <hr>
            <p>{{_("Information Below is not required.")}}</p>
            <div class="input-family">
                {{ form.first_name.label }}
                {{ form.first_name(size=32) }}
                <span>{{_('Please enter your first name here')}}</span>
            </div>
            <div class="input-family">
                {{ form.last_name.label }}
                {{ form.last_name(size=32) }}
                <span>{{_('Please enter your last name here')}}</span>
            </div>
            <div class="input-family">
                {{ form.phone.label }}
                {{ form.phone(size=32) }}
                <span>{{_('Please enter your phone number here')}}</span>
            </div>
            {{ form.rememberme }} {{ form.rememberme.label }}
            <p>{{ form.submit(class="button") }}</p>
        </form>
    </div>
</div>
{% endblock %}