__pycache__/
.vscode
.idea
*.pyc
lib/*
env/*
app/static/videos
app/static/blog_image
backup
backend/config
frontend/node_modules
backend/static/blog_image
backend/static/user_profile
backend/static/videos
local.json
