{# app/templates/timeline.html_ #}

{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline/main.css') }}">
<div class="container-center">
    <ul class="timeline-box">
        {%  for timeline in timelines %}
            <li>
                <div class="direction-r">
                    <div class="timeline-title-wrapper">
                        <span class="timeline-title">{{ timeline.title }}</span>
                        <span class="timeline-time-wrapper">
                            <span class="timeline-time">{{ timeline.created_at }}</span>
                        </span>
                        {% if current_user.level == 0 %}
                            <input type="hidden" value="{{ timeline.id }}">
                            <img class="timeline-delete-btn" src="{{ url_for('static', filename='icon/delete.png') }}">
                        {% endif %}
                    </div>
                    <div class="timeline-content">{{ timeline.content }}</div>
                </div>
            </li>
            
        {% endfor %}
    </ul>
    {% if current_user.level == 0 %}
        <div class="timeline-add-new">
            <h2>{{_('Add a new time line:')}}</h2>
            <form action="/timeline/add" method="post">
                <label >{{_('Title:')}}</label>
                <input id="timeline_title" name="timeline_title" type="text">
                <br>
                <label >{{_('Content:')}}</label>
                <input id="timeline_content" name="timeline_content" type="text">
                <br>
                <input type="submit" value="submit">
            </form>
        </div>
    {% endif %}
    
</div>
<script type="text/javascript" >
    $('.timeline-delete-btn').on('click', function(e){
		$.ajax({
			data: {
				timeline_id:$(this).prev().val()
			},
			type: 'POST',
            url : '/timeline/disable',
            success: function(data) { 
                console.log(data)
            },
            error: function(jqXHR) {
                console.log(jqXHR);
            }
		});
    });
</script>
{% endblock %}
