{# app/templates/accounting/accounting.html_ #}

{% extends "layout.html" %}

{% block body %}
    <div class="accounting-left-panel">
        <div class="accounting-left-panel-inner-container">
            <label>All tags:</label>
            <a class="popup_trigger">
                <img class="icons" src="{{ url_for('static', filename='icon/accounting_add_tag.png') }}">
            </a>
            {%  for tag in tags %}
                <div class="clickable" onclick="calculate_cost_by_tag(this)">
                    {{ tag.id|string + ": " + tag.name}}
                    <input type="hidden" value={{ tag.id }}>
                    <input type="hidden" value={{ tag.name }}>
                </div>
            {% endfor %}
            <div id="cost_by_tag">
            </div>
        </div>
        
        <div class="popup_content">
            <span class="helper"></span>
            <div>
                <div class="popup_close">X</div>
                <form action="/accounting/add_tag" method="POST">
            
                    {{ add_tag_form.hidden_tag() }}
                    <p>
                        {{ add_tag_form.tag_name.label }}<br>
                        {{ add_tag_form.tag_name(size=32) }}<br>
                    </p>
                    {{ add_tag_form.submit() }}
                </form>
            </div>
        </div>
    </div>
    <div class="accounting-middle-panel">
        <form action="/accounting/add_item" method="POST">
            <h1>Add an Item:</h1>
            {{ add_item_form.hidden_tag() }}
            <p>
                {{ add_item_form.item_name.label }}<br>
                {{ add_item_form.item_name(size=32) }}<br>
            </p>
            <p>
                {{ add_item_form.item_price.label }}<br>
                {{ add_item_form.item_price(size=32) }}<br>
            </p>
            <p>
                {{ add_item_form.item_date.label }}<br>
                {{ add_item_form.item_date(size=32) }}<br>
            </p>
            <p>
                {{ add_item_form.tag_id.label }}<br>
                {{ add_item_form.tag_id }}<br>
            </p>
            <p>{{ add_item_form.submit() }}</p>
        </form>
        <h2>All Items:</h2>
        {%  for item in items %}
            <div>{{ item.id|string + ": " + item.name + ", price: " + item.price|string + ", date: "  + item.date|string }}</div>
        {% endfor %}
    </div> 
    <div class="accounting-right-panel">
        <div class="accounting-right-panel-inner-container">
            <h1>Daily cost: {{ '%0.2f' % daily_cost|float }}</h1>
            <h1>Weekly cost: {{ '%0.2f' % weekly_cost|float  }}</h1>
            <h1>Monthly cost: {{ '%0.2f' % monthly_cost|float  }}</h1>
        </div>  
    </div> 
{% endblock %}