{# app/templates/user/profile.html_ #}

{% extends "layout.html" %}

{% block body %}
    <h1>Profile Setting</h1>
    <form action="/user/uploads" method="post" enctype=multipart/form-data>
        <img src={{ url_for('static', filename=avatar) }}/>
        <p>
            Avatar:<br>
              <input type=file name=file>
              <input type=submit value=Upload>
            <br>
        </p>
    </form>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32, value=current_user.username) }}<br>
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32, value=current_user.first_name) }}<br>
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32, value=current_user.last_name) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64, value=current_user.email) }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}