{# app/templates/user/profile.html_ #}

{% extends "layout.html" %}

{% block body %}
<div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/profile/main.js') }}"></script>
    <div class="user-profile-middle-panel">
        <div class="user-profile-right-panel">
            <div id="profile_basic_tab">
                {{_('Basics')}}
            </div>
            <div id="profile_ip_tab">
                {{_('Manage IP address')}}
            </div>
            <div id="profile_gesture_tab">
                {{_('Login method')}}
            </div>
        </div>
        <div id="basic_content">
            <form action="/user/uploads" method="post" enctype=multipart/form-data>
                <img src={{ url_for('static', filename=current_user.avatar) }}/>
                <p>
                    <input class="button" type=file name=file>
                    <input class="button" type=submit value={{_('Upload')}}>
                    <br>
                </p>
            </form>
            <form action="/user/profile_update" method="post">
                {{ user_setting_form.hidden_tag() }}
                <div class="input-family">
                    {{ user_setting_form.email.label }}
                    {{ user_setting_form.email(size=64, value=current_user.email) }}
                    <span>{{_('Please enter your email address here')}}</span>
                </div>
                <div class="input-family">
                    {{ user_setting_form.username.label }}
                    {{ user_setting_form.username(size=64, value=current_user.username) }}
                    <span>{{_('Please enter your user name here')}}</span>
                </div>
                <div class="input-family">
                    {{ user_setting_form.password.label }}
                    {{ user_setting_form.password(size=64) }}
                    <span>{{_('Please enter your password here')}}</span>
                </div>
                <hr>
                <p>{{_("Information Below is not required.")}}</p>
                <div class="input-family">
                    {{ user_setting_form.first_name.label }}
                    {{ user_setting_form.first_name(size=64, value=current_user.first_name) }}
                    <span>{{_('Please enter your first name here')}}</span>
                </div>
                <div class="input-family">
                    {{ user_setting_form.last_name.label }}
                    {{ user_setting_form.last_name(size=64, value=current_user.last_name) }}
                    <span>{{_('Please enter your last name here')}}</span>
                </div>
                <div class="input-family">
                    {{ user_setting_form.phone.label }}
                    {{ user_setting_form.phone(size=64, value=current_user.phone_num) }}
                    <span>{{_('Please enter your phone number here')}}</span>
                </div>
                <p>{{ user_setting_form.submit(class="button") }}</p>
            </form>
        </div>
        <div id="ip_content">
            <h1>Current ip is : {{ current_ip|string }}</h1>
            <form action="/user/ip_white_list_update" method="post">
                {{ ip_white_list_form.hidden_tag() }}
                {% for address_entry_form in ip_white_list_form.ip_address_list %}
                    {{ address_entry_form.hidden_tag() }}
                    <div class="input-family">
                        {{address_entry_form.ip_address.label}}
                        {{ address_entry_form.ip_address(size=64) }}
                        <span>{{_('Your trusted IP address.')}}</span>
                    </div>
                {% endfor %}
                <p>{{ ip_white_list_form.submit(class="button") }}</p>
            </form>
        </div>
        <div id="gesture_content">
            <h1>{{_('Setup Gesture Login')}}</h1>
            <canvas id="canvas"></canvas>
        </div>
    </div>
    
</div>
{% endblock %}