/* Add a black background color to the top navigation */
.body_content {
  margin-top: 50px;
}

.icons {
	border-radius: 50%;
	height: 3vh;
  	width: 2vw;
}

.popup_content {
    background:rgba(0,0,0,.4);
    display:none;
    height:100%;
    width:100%;
    position:fixed;
    text-align:center;
    top: 0;
    left: 0;
    z-index:10000;
}

.popup_content .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.popup_content > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: 40vh;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popup_close {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popup_close:hover {
    background-color: #ccc;
}
.popup_trigger {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
