/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
  z-index: 2;
  box-shadow: 0px -12px 18px 6px black;
  text-align: center;
}

.ball {
  width: 50px;
  height: 50px;
  background: rgba(64, 176, 255, 0.72);
  border-radius: 50%;
  position: fixed;
  right: 100px;
  bottom: 160px;
  overflow: hidden;
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25); 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ball:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.ball.active {
  width: 200px;
  height: 200px;
  right: 25px;
  bottom: 85px;
  position: fixed;
  background: rgba(64, 176, 255, 1);
}
.ball.active:hover {
  cursor: default;
  transform: scale(1);
}
.ball.active svg {
  transform: rotate(45deg);
  cursor: pointer;
}

.ball.active .first {
  top: 80px;
  left: 20px;
  opacity: 1;
}
.ball.active .second {
  left: 50px;
  top: 135px;
  opacity: 1;
}
.ball.active .third {
  left: 115px;
  top: 135px;
  opacity: 1;
}
.ball.active .fourth {
  left: 145px;
  top: 80px;
  opacity: 1;
}
.ball.active .five {
  left: 115px;
  top: 30px;
  opacity: 1;
}
.ball.active .six {
  left: 50px;
  top: 30px;
  opacity: 1;
}

.ball svg {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}


.ball img {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
  opacity: 0;
}
.ball img:hover {
  transform: scale(1.1);
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.page-helper{
  position: fixed;
  bottom: 220px;
  right: 100px;
  height: 50px;
  width: 50px;
  background-color: rgba(64, 176, 255, 0.72);
  border-radius: 35px;
}

.page-helper:hover{
  cursor: pointer;
  animation:up-and-down 0.5s;
  -webkit-animation:up-and-down 0.5s;
  transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25); 
}
@keyframes up-and-down /* Safari and Chrome */
{
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.arrow_to_top_up {
  display: inline-block;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  width: 20px;
  height: 20px;
  border-color: rgb(252, 252, 252, 0.8);
  transform: rotate(-45deg);
  margin: 15px auto auto 14px;
  position: absolute;
}


.arrow_to_top_down {
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  width: 20px;
  height: 20px;
  border-color: rgb(252, 252, 252, 0.8);
  transform: rotate(-45deg);
  margin: 25px auto auto 14px;
  position: absolute;
}


.nav-holder {
  top: 0px;
  height: 60px;
  margin-bottom: 15px;
}

.bottom-border {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ececec;
}

.all-border {
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
}

.nav-button {
  color: #000000;
  text-align: center;
  padding: 21px 12px;
  text-decoration: none;
  font-size: 18px;
}
.nav-button a:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
  transition: 0.5s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.5s;
}

.topnav a > img {
  height: 65px;
  width: 65px;
  transition: box-shadow 0.5s;
}

.topnav a > img:hover {
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5)
}


/* 容器 <div> - 需要定位下拉内容 */
.dropdown:hover {
  cursor: pointer;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
  top: 65px;
}

/* 下拉菜单的链接 */
.dropdown-content a {
  padding: 18px 12px;
  text-decoration: none;
  color: #000000;
  display: block;
  border-top: solid 1px #ddd;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
  cursor: pointer;
  background-color: #ddd;
  transition: 0.5s;
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
  display: block;
}


.middle-align {
  display: inline-block;
  margin:0 3px auto;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.right-align img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transform: translateY(-10px);
}

.secretnav {
  background-color: rgba(255, 255, 255, 0);
  display: none;
  overflow: hidden;
  position: fixed;
  top: 65px;
  height: 65px;
  left: 0px;
  width: 100vw;
  z-index: 2;
  transition: 1s;
}

.secretnav:hover {
  background-color: rgba(70, 68, 68, 0.57);
  transition: 1s;
}

.secretnav:hover a {
  visibility: visible;
  /* transition: 0.25s; */
}

.secretnav:hover a:hover {
  background-color:#cec806;
  color: rgb(0,0,0,1);
  transition: 0.25s;
}

.secretnav a {
  visibility: hidden;
  background-color: rgba(64, 176, 255, 0.72);
  color: black;
}

.footer {
  background-color:#3e3e3e;
  height: 80px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: white;
  padding: 5px;
}
.footer a {
  text-decoration: none;
}
.footer a:link {
  color: white;
}
.footer a:visited{
  color: white;
  text-decoration: none;
}

.notify {  
  position:absolute;
  top:-30%;
  list-style-type: none;
  transition:all 1s;
  text-align:center;
}

.notify li {  
  margin: 5px 0 5px;
  border-radius: 10px;
  color:white;  
  background:rgba(64, 176, 255);
  width: 90vw;
  padding: 10px;
}

.activate {
  top:49px;
}

.gone {
  top:-30%;
}
