
{% extends "layout.html" %}

{% block body %}
{% if is_streaming %}
<div class="container-center">
    <h1>{{_('Streaming is on')}}</h1>
    <script src="http://jwpsrv.com/library/4+R8PsscEeO69iIACooLPQ.js"></script>
    <div id="my-video">{{_('Loading the player...')}}</div>
    <script type="text/javascript">
        jwplayer("my-video").setup({
            width:"800px",
            height:"600px",
            playlist: [{
                sources: [{
                    file: 'http://121.89.211.28/static/live/main/index.m3u8',
                    onXhrOpen: function(xhr, url) {
                      xhr.setRequestHeader('Cache-Control', 'no-cache');
                  }
                }]
            }]
        });
    </script>
</div>
{% else %}
<div class="container-center">
    <h1>{{_('Streaming is offline.')}}</h1>
    <img src={{ url_for('static', filename='icon/offline.png') }}/>
</div>
{% endif %}
{% endblock %}

