{# templates/index.html_ #}

{% extends "layout.html" %}

{% block navigation_bar %}
    <div>
        Microblog:
        <a href="{{ url_for('index.main') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
	</div>
{% endblock %}
{% block body %}
	<h1>Hi, {{ current_user.username }}!</h1>
	<a href="accounting">Accounting</a>
{% endblock %}
	
