{# templates/layout.html_ #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block navigation_bar %}
       <div>
        Microblog:
	        <a href="{{ url_for('index.main') }}">Home</a>
	        {% if current_user.is_anonymous %}
	        <a href="{{ url_for('auth.login') }}">Login</a>
	        {% else %}
	        <a href="{{ url_for('auth.logout') }}">Logout</a>
	        {% endif %}
		</div>
    {% endblock %}
    {% block body %}
        <h1>This heading is defined in the parent.</h1>
    {% endblock %}
    </body>
</html>