.left-panel {
	float:left;
	width:30vw;
}

.left-panel-inner-container {
	margin-left: 5vw;
}

.middle-panel {
	display: inline-block;
    margin:0 auto;
    width:30vw;
}


.right-panel {
	float:right;
    width:27vw;
}

.right-panel-inner-container {
	margin-right: 5vw;
}


