/* Add a black background color to the top navigation */
.right-panel {
	position: absolute;
	top: 10vh;
	right: 10vw;
	float: right;
 	margin-top: 50px;
}

.left-panel {
	position: absolute;
	top: 100px;
	left: 40px;
	float: right;
}
