{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video/main.css') }}">
{%  for video in videos %}
<div class="row all-video-single-row">
    <a href={{ "/videos/" + video.uuid  }}>
    <div class="all-video-left-panel">
        <img src="{{ url_for('static', filename=video.thumb_nail) }}">
    </div>
    </a>
    <div class="all-video-right-panel">
        <div class="title-block">
            <a href={{ "/videos/" + video.uuid  }}>{{_('Title: ')}}{{ video.title|string}}</a>
        </div>
        <div class="content-block">
            <img src="{{ url_for('static', filename='icon/viewed_num.png') }}"><label> {{ video.viewed_number }} </label>
        </div>
        <div class="content-block">
            <img src="{{ url_for('static', filename='icon/thumb_up.png') }}"><label id="liked_num"> {{ video.liked_number }} </label>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
