{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video/view_video.css') }}">
<div class="panel-center">
    <div class="video-panel">
            <video controls>
                <source src={{ src }} type="video/mp4">
            </video>
    </div>
    <div class="video-row">
        {{_('Title: ')}}{{ title }}
        <div class="video-item">
            <img src="{{ url_for('static', filename='icon/viewed_num.png') }}"><label> {{viewed_num}} </label> 
        </div>
        <div class="video-item">
            <img id="video-like-btn" src="{{ url_for('static', filename='icon/thumb_up.png') }}"><label id="liked_num"> {{liked_num}} </label>
        </div>
        <div class="video-item">
            <img id="comment-btn" src="{{ url_for('static', filename='icon/comment.png') }}"><label> {{comments|count}} </label> 
        </div>
    </div>
    <div class="video-comment">
        <form id="video_comment_form">
            {{ video_form.hidden_tag() }}
            <div class="video-comment-input">
                {{ video_form.content }}
            </div>
            {% for error in video_form.content.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class="video-comment-title">
                {{ video_form.unknown_user_name.label }}
            {% if current_user.nickname %}
                {{ video_form.unknown_user_name(value=current_user.nickname) }}
            {% else %}
                {{ video_form.unknown_user_name }}
            {% endif %}
                
            </div>
            {{ video_form.video_uuid(style="display:none;", value=uuid) }}
            {{ video_form.submit(class="button video-comment-submit-button") }}
        </form>
        <hr>
        <div id="comment-box" class="comment-box">
            {%  for coment in comments %}
                <div class="comment-content">
                    {% if coment.user %}
                        <img src="{{ url_for('static', filename=coment.user.avatar) }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='icon/user_known.png') }}">
                    {% endif %}
                    <div class="comment-content-title">
                        {% if coment.unknown_user_name %}
                            {{coment.unknown_user_name}}
                        {% else %}
                            {{_('secret user')}}
                        {% endif %}
                        <em class="comment-content-timestamp">
                            {{ coment.created_at }}
                        </em>
                        {% if current_user.level == 0 %}
                            <input type="hidden" value="{{coment.id}}">
                            <img class= "comment-content-delete-btn" src="{{ url_for('static', filename='icon/delete.png') }}">
                        {% endif %}
                    </div>
                    <div class="comment-content-text">
                        {{coment.content}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript" >
    $('#video_comment_form').on('submit', function(e){
		$.ajax({
			data: {
				content:$('#content').val(),
                unknown_user_name:$('#unknown_user_name').val(),
                video_uuid:$('#video_uuid').val()
			},
			type: 'POST',
            url : '/comment/video/post',
            success: function(data) { 
                let avatar = '<img src="{{ url_for("static", filename="icon/user_known.png") }}">';
                if (data.user != null) {
                    avatar = '<img src="/static/' + data.user.avatar + '">';
                }
                let nickname = "{{_('secret user')}}";
                if (data.unknown_user_name != ''){
                    nickname = data.unknown_user_name;
                }
                let first_div = '<div class="comment-content">';
                let second_div = '<div class="comment-content-title">' + nickname;
                let em = '<em class="comment-content-timestamp"></em>';
                let last_div = '</div><div class="comment-content-text">' + data.content + '</div></div>';
                var html = first_div + avatar + second_div + em + last_div;
                $("#comment-box").prepend(html);
            },
            error: function(jqXHR) {
                console.log(jqXHR);
            }
		});
		e.preventDefault();
    });
    
    $('.comment-content-delete-btn').on('click', function(e){
		$.ajax({
			data: {
				comment_id:$(this).prev().val()
			},
			type: 'POST',
            url : '/comment/deactivate_comment',
            success: function(data) { 
                console.log(data)
            },
            error: function(jqXHR) {
                console.log(jqXHR);
            }
		});
    });
    

    $(function() {
        $('#video-like-btn').click(function() {
            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                type: 'POST',
                url: '/videos/like/' + '{{uuid}}',
                success: function(data) { 
                    $('#liked_num').html(data);
                    console.log(data);                   
                },
                error: function(jqXHR) {
                    alert("error: " + jqXHR.status);
                    console.log(jqXHR);
                }
            });
        });

        $('#comment-btn').click(function() {
            
            $('.video-comment').css("display","inline-block");
            $('.footer').css("position","static");
        });
    });
</script>
{% endblock %}
