{# app/templates/comment.html_ #}

{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/feedback/main.css') }}">
<div class="container-center">
    <h1>{{_('Comment Board')}}</h1>
    <form action="/comment/feedback/post" method="post">
        <div class="feedback-comment-input">
            <textarea id="content" name="content" placeholder="{{_('If you got any feedback, please let me know :)')}}"></textarea>
        </div>
        <div class="feedback-comment-title">
            <div>
                <input id="feedback_comment_submit_btn" class="button feedback-comment-submit-button" value="{{_('Post')}}" type="submit">
            </div>
            <div class="input-family">
                <label >{{_('Your name:')}}</label>
                {% if current_user.nickname %}
                    <input id="unknown_user_name" name="unknown_user_name" type="text" value="{{current_user.nickname}}">
                {% else %}
                    <input id="unknown_user_name" name="unknown_user_name" type="text">
                {% endif %}
                <span>{{_('(Optional) Please enter your nick name here')}}</span>
            </div>
            <div class="input-family">
                <label >{{_('Your e-mail:')}}</label>
                {% if current_user.email %}
                    <input id="contact_email" name="contact_email" type="text" value="{{current_user.email}}">
                {% else %}
                    <input id="contact_email" name="contact_email" type="text">
                {% endif %}
                <span>{{_('(Optional) Please enter your email here')}}</span>
            </div>     
        </div>
    </form>
    <hr>
    <div class="comment-box">
        {%  for coment in comments %}
            <div class="comment-content">
                {% if coment.user %}
                    <img src="{{ url_for('static', filename=coment.user.avatar) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='icon/user_known.png') }}">
                {% endif %}
                <div class="comment-content-title">
                    {% if coment.unknown_user_name %}
                        {{coment.unknown_user_name}}
                    {% else %}
                        {{_('secret user')}}
                    {% endif %}
                    <em class="comment-content-timestamp">
                        {{ coment.created_at }}
                    </em>
                    {% if current_user.level == 0 %}
                        <input type="hidden" value="{{coment.id}}">
                        <img class= "comment-content-delete-btn" src="{{ url_for('static', filename='icon/delete.png') }}">
                    {% endif %}
                </div>
                <div class="comment-content-text">
                    {{coment.content}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" >
    $('.comment-content-delete-btn').on('click', function(e){
		$.ajax({
			data: {
				comment_id:$(this).prev().val()
			},
			type: 'POST',
            url : '/comment/deactivate_comment',
            success: function(data) { 
                console.log(data)
            },
            error: function(jqXHR) {
                console.log(jqXHR);
            }
		});
    });
</script>
{% endblock %}
