{# app/templates/layout.html_ #}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="http://lib.sinaapp.com/js/jquery/1.12.4/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popup.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/draw_a_cat.js') }}"></script>
    </head>
    <body>
    {% block navigation_bar %}
    	<div class="topnav">
            <a class="left-align" id="home_button" href="{{ url_for('index.main') }}">
                <img src={{ url_for('static', filename='ydaxian_logo.png') }}>
            </a>
            <!-- <a class="nav-button left-align" href="{{ url_for('index.slack_emoji') }}">Slack Emoji</a> -->
            <a class="nav-button middle-align"  href="{{ url_for('blog.blogs') }}">{{_('Blogs')}}</a>
            {% if current_user.level == 0 %}
            <div class="dropdown nav-button middle-align">
                {{_('Videos')}}
                <div class="dropdown-content">
                    <a class="nav-button middle-align"  href="{{ url_for('videos.videos') }}">{{_('Check All Videos')}}</a>
                    <a class="nav-button middle-align"  href="{{ url_for('videos.upload_video_page') }}">{{_('Upload Video')}}</a>
                </div>
            </div>
            {% else %}
            <a class="nav-button middle-align"  href="{{ url_for('videos.videos') }}">{{_('Videos')}}</a>
            {% endif %}
            <a class="nav-button middle-align"  href="{{ url_for('streaming.streaming') }}">{{_('Streaming')}}</a>
            <a class="nav-button middle-align"  href="{{ url_for('timeline.timelines') }}">{{_('Timeline')}}</a>
            {% if current_user.level == 0 %}
            <div class="dropdown nav-button middle-align">
                test
                <div class="dropdown-content">
                    <a href="#">Placeholder 3</a>
                </div>
            </div>
            <a class="nav-button middle-align"  href="{{ url_for('aws.aws') }}">{{_('AWS')}}</a>
            {% endif %}
			{% if current_user.is_anonymous %}
	        <a class="nav-button right-align" href="{{ url_for('auth.login') }}">{{_('Login')}}</a>
	        <a class="nav-button right-align" href="{{ url_for('auth.register') }}">{{_('Register')}}</a>
            {% else %}
	        <a class="nav-button right-align" id="logout_button"  href="{{ url_for('auth.logout') }}">{{_('Logout')}}</a>
            <a class="nav-button right-align" id="nav_setting_button"  href="{{ url_for('user.profile') }}">{{_('Settings')}}</a>
            <div class="nav-button right-align">
                <img src={{ url_for('static', filename=current_user.avatar) }}>
            </div>
                {% if current_user.first_name %}
                    <div class="nav-button right-align">{{ _('hi, %(user)s', user=current_user.first_name)  }}  </div>
                {% endif %}
            {% endif %}
            <div class="dropdown nav-button right-align">
                <img src={{ url_for('static', filename='icon/language.png') }}>
                <div class="dropdown-content">
                    <a class="nav-button middle-align"  href="?lang=zh_CN">{{_('Chinese')}}</a>
                    <a class="nav-button middle-align"  href="?lang=en">{{_('English')}}</a>
                </div>
            </div>
		</div>
    {% endblock %}
    {% block secret_bar %}
    	<div class="secretnav" id="secretnav">
		</div>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=notify>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <img id="background_cat_head" hidden="true" src="{{ url_for('static', filename='cat_head.png') }}">
    <canvas id="background_img">
    </canvas>
    <div class="body-wrapper">
        {% block body %}
            <h1>This heading is defined in the parent.</h1>
        {% endblock %}
    </div>
    <div class="footer">
        <p>
            Copyright ©
            <a href="http://ydaxian.top/" target="_blank">www.ydaxian.top</a>
            All Rights Reserved. 
            <br>
            备案号：
            <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20021404号</a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502041362">
                <img src="{{ url_for('static', filename='icon/beian.png') }}"/>
                京公网安备 11010502041362号
            </a>
        </p>
    </div>
    <div class="page-helper" id="goTopButton">
            <span class="arrow_to_top_up" ></span>
            <span class="arrow_to_top_down" ></span>
    </div>
    <div class="ball">
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">
            <img class="first" src="{{ url_for('static', filename='icon/login.png') }}">
        </a>
        {% else %}
        <a href="{{ url_for('user.profile') }}">
            <img class="first" src="{{ url_for('static', filename='icon/settings.png') }}">
        </a>
        {% endif %}
        <a href="{{ url_for('index.donate_page') }}">
            <img class="second" src="{{ url_for('static', filename='icon/donate.png') }}">
        </a>
        <a href="{{ url_for('comment.comment_page') }}">
            <img class="third" src="{{ url_for('static', filename='icon/comment.png') }}">
        </a>
        <a href="{{ url_for('index.contact_us') }}">
            <img class="fourth" src="{{ url_for('static', filename='icon/wechat.png') }}">
        </a>
        <a href="{{ url_for('videos.videos') }}">
            <img class="five" src="{{ url_for('static', filename='icon/movie.png') }}">
        </a>
        <a href="{{ url_for('blog.blogs') }}">
            <img class="six" src="{{ url_for('static', filename='icon/blog.png') }}">
        </a>

        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
        <polygon fill="#FFFFFF" points="30,14.5 15.5,14.5 15.5,0 14.5,0 14.5,14.5 0,14.5 0,15.5 14.5,15.5 14.5,30 15.5,30 15.5,15.5 
            30,15.5 "/>
        </svg>
    </div>
    </body>
</html>