{# app/templates/layout.html_ #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/accounting/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popup.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/accounting/main.js') }}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    </head>
    <body>
    {% block navigation_bar %}
    	<div class="topnav">
			<a class="left-align active" href="{{ url_for('index.main') }}">Home</a>
            <a class="left-align" href="{{ url_for('index.slack_emoji') }}">Slack Emoji</a>
			{% if current_user.is_anonymous %}
	        <a class="right-align" href="{{ url_for('auth.login') }}">Login</a>
	        <a class="right-align" href="{{ url_for('auth.register') }}">Register</a>
	        {% else %}
	        <a class="right-align" class="right" href="{{ url_for('auth.logout') }}">Logout</a>
            <a class="right-align" class="right" href="{{ url_for('user.profile') }}">Settings</a>
            <div class="right-align">
                <img src={{ url_for('static', filename=current_user.avatar) }}>
            </div>
            <div class="right-align">Hi, {{ current_user.first_name }}  </div>
	        {% endif %}
		</div>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="body_content">
    {% block body %}
        <h1>This heading is defined in the parent.</h1>
    {% endblock %}
    </div>
    </body>
</html>